.itemDetail{
    display: grid;
    
}
.imgContainer img{
    width: 100%;
}
.container_info{  
    padding: .5rem;
}
.container_title_offer--Detail{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.container_title_offer--Detail h3{
    font-size: 2.5rem;
}
.cuotas{
    background: yellowgreen;
    padding: 3px;
    border-radius: 5px;
    text-align: center;
}

@media (min-width: 720px) {
    .itemDetail{
        grid-template-columns: 1fr 1fr;
        max-width: 1200px;
    }
    .imgContainer {
        max-width: 600px;
    }
}