.tabla_carrito th{
    font-weight: 700;
    font-size: 18px;
}

.tabla_resultado td{
    font-weight: 700;
    font-size: 25px
}

.container_carrito{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
}
.container_table{
    display: flex;
    justify-content: center;
}