
.container_navBar{
    background-color: yellowgreen;
    font-size: 25px;
    
}
.dropdown-menu{
    background-color: #ddd;
    font-size: 20px;
    text-align: center;
}

.container_mjsOffer{
    padding: 4px;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.container-links{
    display: flex;
    flex-direction: column;
    vertical-align: center;
}
.container-links a{
    padding: .3rem;

    
}
.container-nav{
    display: flex;
    justify-content: space-around;
}
.container-nav a{
    padding-left: .5rem;
    padding-right: .5rem;
}

.active{
    background-color: #707070;
    color: aliceblue;
    padding: 5px;
    border-radius: 5px;
}

a{
    text-decoration: none;
    transition: all 0.2s ease-in-out;
}



@media (min-width: 720px) {
    .container-nav {
        flex-direction: row;
        align-items: center;
    }
}